@import './variables.css';

.main-content {
    background-color: #37384b;
    top: var(--navbar-height);
    position: relative;
    height: 1200px;
    display: flex;
}

.background-image {
    position: absolute;
    /*left: 50%;
    transform: translateX(-50%);*/
    width: 100%;
    height: 70%; 
    z-index: 1;
}

.main-content-container {
    height: 90%;
    width: 70%;
    background-color: red;
    position: relative;
    z-index: 2;
    margin: auto;
    color: white;
}

.main-content-filters {
    background-color: green;
    width: 95%;
    /*height: 5%;*/
    height: var(--filter-size);
    position: relative;
    display: flex;
}

.main-title {
    height: 5%;
}

.select-game-filter {
    background-color: var(--filter-color);
    width: 22%;
    padding: var(--padding-filter);
    display: flex;
}

.select-game-filter-first-part {
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.8rem;
}

.select-game-filter-second-part {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sword-img {
    width: 20px;
    height: auto;
    filter: brightness(0) invert(1);
    padding-right: 5px;
} 

.search-filter {
    background-color: var(--filter-color);
    width: 60%;
    margin-left: 15px;
    padding: var(--padding-filter);
}

.price-filter {
    background-color: var(--filter-color);
    margin-left: -20px;
    border-right: 1px solid var(--border-gray);
    width: 150px;
}

.price-filter-inside, .item-filter-inside {
    display: flex;
    align-items: center;
    padding: var(--padding-filter);
    justify-content: space-between;

}

.item-filter {
    background-color: var(--filter-color);
}

/*.search-filter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%; 
    width: 15px; 
    height: 100%; 
    background-color: rgba(255, 0, 0, 0.5); 
    z-index: -1; 
}

.price-filter::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 15px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: -1;
}*/

.dolar, .sort, .feather {
    color: var(--icons-green);
    padding-right: 10px;
}

.caret-down {
    font-size: 12px;
}

.search-filter-inside-input{
    background-color:transparent; 
    border: none; 
    outline:none; 
    margin-left: 15px;
    caret-color: #fafcff;
    color: white;
}

.custom-select {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    justify-content: space-between;
}

.pagination-container {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    /*padding-right: 30px; */
    width: 120%;
    cursor: inherit;
    color: white;
}

.custom-select select option {
    background-color: var(--filter-color);
    /*color: black; */
}

.item-filter {
    width: 150px;
}

.cards-container {
    margin-top: 15px;
    height: 88%;
    border: 2px solid var(--border-gray);
    background-color: #303141;
    padding: 50px;
}

.inside-cards-container {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.cards-container-filter {
    height: var(--filter-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    margin-top: 20px;
    height: 81%;
    background-color: orange;
    gap: 20px;
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(3, auto);*/
    grid-template-rows: repeat(3, 1fr);
}

.back-button, .next-button {
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid #5762d5;
    border-radius: 2px;
    width: 40px;
    /*margin: 20px;*/
    color: white;
}

.active {
    border: 1px solid #5762d5;
    border-radius: 2px;
    width: 40px;
    margin: 10px;
    background-color: #5762d5;  
    color: white;
}

.not-active {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    margin: 10px;
    height: 40px;
    width: 40px;
}