.navbar {
    background-color: #303141;
    height: 65px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    width: 96%;
    height: 70%;
    display: flex;
}

.logo-container {
    /*max-width: 150px;*/
    width: 12%;
    border-right: 1px solid #9596a0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    width: 80%;
    height: auto;
    margin-bottom: 5px;
}

.navbar-options {
    width: 86%;
    display: flex;
}

.options {
    text-decoration: none;
    color: #c6c7cf;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 20px;
}

.nav-links {
    width: 80%;
    display: flex;
    padding-left: 20px;
}

.user-options {
    width: 20%;
    display: flex;
    justify-content: end;
}