@import './variables.css';

.navbar {
    background-color: #303141;
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid var(--border-gray);
}

.navbar-container {
    width: 96%;
    height: 70%;
    display: flex;
}

.logo-container {
    width: 12%;
    border-right: 1px solid #fafcff;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    width: 80%;
    height: auto;
    margin-bottom: 5px;
    filter: brightness(0) invert(1);
}

.navbar-options {
    width: 88%;
    display: flex;
}

.options {
    text-decoration: none;
    color: #fafcff;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 20px;
    font-size: 0.9rem;
    white-space: nowrap;
}

.nav-links {
    width: 80%;
    display: flex;
    padding-left: 20px;
}

.user-options {
    width: 20%;
    display: flex;
    justify-content: end;
}

.sign-in-button {
    background-color: #39e29d;
    border: none;
    padding: 0px 20px 0px 20px;
    border-radius: 4px;
    white-space: nowrap;
}

.chevron-down {
    margin-left: 2px;
    width: 10px;
    color: #fafcff;
}

.cart-icon {
    margin-right: 2px;
    width: 15px;
    color: #fafcff;
}